body {
    background: #680001;
    color: rgb(206, 87, 0);
    font-family: 'Open Sans Condensed', sans-serif;
    transition: color 0.25s ease-in-out;
}

p {
    clear: left;
    color: rgb(206, 87, 0);
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4 {
    color: rgb(206, 87, 0);
    font-family: 'Bangers', sans-serif;
    text-align: center;
}

h1 {
    font-size: 90px;
    letter-spacing: 3px;
    margin-bottom: 35px;
    text-shadow: 2px 2px 1px rgb(41, 35, 23);
}

.player-button-row {
    margin-bottom: 40px;
}

.play-container {
    margin: 0 auto;
    width: 170px;
}

.play-button {
    color: rgb(206, 87, 0);
    cursor: pointer;
    float: left;
    height: 150px;
    margin: 0 auto;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    width: 150px;
}

.play-button:hover {
    color: rgb(214, 134, 76);
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
}

.play-button.active {
    color: #f8faba;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
}

.volume-bar {
    float: right;
    font-size: 5px;
    margin-left: 10px;
    margin-top: 25px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -1em;
}

.ui-slider .ui-slider-handle {
    height: 2.2em;
    width: 2.2em;
}

/* Fonts via IcoMoon (icomoon.io). Highly recommended! */
@font-face {
	font-family: 'concentrate';
	src:url('../fonts/concentrate.eot?k70dnu');
	src:url('../fonts/concentrate.eot?#iefixk70dnu') format('embedded-opentype'),
		url('../fonts/concentrate.woff?k70dnu') format('woff'),
		url('../fonts/concentrate.ttf?k70dnu') format('truetype'),
		url('../fonts/concentrate.svg?k70dnu#concentrate') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'concentrate';
	speak: none;
	font-size: 150px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-waves:before {
	content: "\e600";
}
.icon-tree:before {
	content: "\e601";
}
.icon-thunderstorm:before {
	content: "\e602";
}
.icon-rain:before {
	content: "\e603";
}
.icon-owl:before {
	content: "\e604";
}
.icon-leaf:before {
	content: "\e605";
}
.icon-frog:before {
	content: "\e606";
}
.icon-fire:before {
	content: "\e607";
}
.icon-cricket:before {
	content: "\e608";
}
.icon-coffee:before {
	content: "\e609";
}
.icon-bird:before {
	content: "\e60a";
}
.icon-play:before {
	content: "\e60b";
}
.icon-pause:before {
	content: "\e60c";
}
.icon-stop:before {
	content: "\e60d";
}
.icon-volume-high:before {
	content: "\e60e";
}
.icon-volume-medium:before {
	content: "\e60f";
}
.icon-volume-low:before {
	content: "\e610";
}
.icon-volume-mute:before {
	content: "\e611";
}
.icon-volume-mute2:before {
	content: "\e612";
}
.icon-github:before {
	content: "\e613";
}
