body {
    background: #680001;
    color: rgb(206, 87, 0);
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    clear: left;
    color: rgb(206, 87, 0);
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4 {
    color: rgb(206, 87, 0);
    font-family: 'Bangers', sans-serif;
    text-align: center;
}

h1 {
    font-size: 90px;
    letter-spacing: 3px;
    margin-bottom: 35px;
    text-shadow: 2px 2px 1px rgb(41, 35, 23);
}

.player-button-row {
    margin-bottom: 40px;
}

.rain-play-button { background: url('../img/rain.png'); }
.rain-play-button.active { background: url('../img/rain-active.png'); }

.thunderstorm-play-button { background: url('../img/thunderstorm.png'); }
.thunderstorm-play-button.active { background: url('../img/thunderstorm-active.png'); }

.forest-play-button { background: url('../img/tree.png'); }
.forest-play-button.active { background: url('../img/tree-active.png'); }

.birds-play-button { background: url('../img/bird.png'); }
.birds-play-button.active { background: url('../img/bird-active.png'); }

.fire-play-button { background: url('../img/fire.png'); }
.fire-play-button.active { background: url('../img/fire-active.png'); }

.ocean-play-button { background: url('../img/waves.png'); }
.ocean-play-button.active { background: url('../img/waves-active.png'); }

.owls-play-button { background: url('../img/owl.png'); }
.owls-play-button.active { background: url('../img/owl-active.png'); }

.frogs-play-button { background: url('../img/frog.png'); }
.frogs-play-button.active { background: url('../img/frog-active.png'); }

.crickets-play-button { background: url('../img/cricket.png'); }
.crickets-play-button.active { background: url('../img/cricket-active.png'); }

.play-container {
    margin: 0 auto;
    width: 170px;
}

.play-button {
    float: left;
    height: 150px;
    margin: 0 auto;
    width: 150px;
}

.volume-bar {
    float: right;
    font-size: 5px;
    margin-left: 10px;
    margin-top: 25px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -1em;
}

.ui-slider .ui-slider-handle {
    height: 2.2em;
    width: 2.2em;
}
